.app {
  width: 100%;
  min-width: 370px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--backdround-gradient);
  padding-top: 7em;
  padding-bottom: 16em;
}

.app__title {
  font-size: 1em;
  margin: 2em 0 0;
  color: #505050;
}

.app__error {
  padding-top: 2em;
}

.app_search-container {
  width: 100%;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__search {
  width: 20em;
  height: 2.5em;

  margin-bottom: 2em;
  padding: 0.3em 0.5em 0.1em;

  background: var(--container);
  border: 2px solid var(--container-detail);
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;

  font-weight: 600;
}
.app__search:focus {
  background: var(--container-secundary);
}

.app__card-container {
  width: 100%;
  max-width: 370px;
  padding: 0 1em;

  display: grid;
  justify-items: center;
  gap: 0.8em;
  grid-template-columns: 1fr 1fr;
}

.app #ward_top,
.app #ward_bottom {
  height: 500px;
  width: 100%;
  background: transparent;
  list-style: none;
  position: absolute;
  z-index: -1;
}
.app #ward_top {
  top: 0;
}
.app #ward_bottom {
  bottom: 0;
}
